/* HomePage.css */
.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #2c3e50, #4ca1af); /* Gradient background */
  font-family: 'Montserrat', sans-serif;
}

.home-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  background: rgba(255, 255, 255, 0.2); /* Glass effect background */
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  max-width: calc(100% - 2rem); /* 2rem less on each side */
  margin: 80px auto; /* Top and bottom margin */
}

.home-header h1 {
  font-size: 2rem;
  color: rgb(15, 15, 15);
  margin-bottom: 1rem;
}

.home-header p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.781); /* Light gray text */
  margin-bottom: 2rem;
}

.get-started-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #1abc9c, #16a085); /* Teal gradient */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.get-started-button:hover {
  background: linear-gradient(to right, #16a085, #1abc9c); /* Slight hover change */
  transform: translateY(-2px);
}

.get-started-button:active {
  background: linear-gradient(to right, #1abc9c, #16a085); /* Slight active change */
  transform: translateY(0);
}
